Database Creation

In [43]:
import sqlite3
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    query = (""" 
    CREATE TABLE Library (Title TEXT, Author TEXT, Year_Published INTEGER, Genre TEXT)
    """)
    cursor.execute(query)
    cursor.close()

Insert Data to the new Library table

In [44]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    query = """
INSERT INTO Library VALUES  ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction');
INSERT INTO Library VALUES ('1984', 'George Orwell', 1949, 'Dystopian');
INSERT INTO Library VALUES ('The Great Gatsby', 'F. Scott Fitzgerald', 1925 , 'Classic');
"""
    cursor.executescript(query)

Update Data

In [45]:
import sqlite3

with sqlite3.connect('library.db') as connection:
    cursor = connection.cursor()  
    
    
    cursor.execute("""
        UPDATE Library 
        SET Year_Published = 1950 
        WHERE Title = '1984'
    """)
    
    connection.commit()  
    print("Record updated successfully.")

Record updated successfully.

Query Data:

Retrieve and display the Title and Author of all books where the Genre is Dystopian.

In [46]:
import sqlite3

with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    
    genre = 'Dystopian'
    cursor.execute("SELECT Title, Author FROM Library WHERE Genre = ?", (genre,))
    
    results = cursor.fetchall()  
    
    if results:
        for title, author in results:
            print(f"Title: {title}, Author: {author}")
    else:
        print("No Dystopian books found.")

Title: 1984, Author: George Orwell

DELETE DATA

In [47]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    year = 1950
    cursor.execute("DELETE FROM Library WHERE Year_Published < ?", (year,))
    connection.commit()
    print("Records deleted successfully!")

Records deleted successfully!

Adding a new column

In [48]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()


    cursor.execute("ALTER TABLE Library ADD COLUMN Rating REAL")
    connection.commit()
    print("Column 'Rating' added successfully!")

Column 'Rating' added successfully!

In [ ]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    
    
    cursor.execute("""
        UPDATE Library
        SET Rating = 4.7
        WHERE Title = '1984'
                   
        
    """)
    cursor.execute("""
        UPDATE Library
        SET Rating = 4.8
        WHERE Title = 'To Kill a Mockingbird'
""")
    
    cursor.execute("""
        UPDATE Library
        SET Rating = 4.5
        WHERE Title = 'The Great Gatsby'

""")
    
    connection.commit()
    print("Rating updated successfully.")

ISBN updated successfully.