In [5]:
import sqlite3 

with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    
    query = """
        CREATE TABLE IF NOT EXISTS Roster(Name TEXT, Species TEXT, Age INTEGER);

        INSERT INTO Roster VALUES('Benjamin Sisko', 'Human', 40);
        INSERT INTO Roster VALUES('Jadzia Dax', 'Trill', 300);
        INSERT INTO Roster VALUES('Kira Nerys', 'Bajoran', 29);
    """
    
    cursor.executescript(query)  
    cursor.close()

Update the Table

In [10]:
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    cursor.execute(""" UPDATE Roster SET Name = 'Ezri Dax'
                    WHERE Age = 300

    """)
connection.commit()

Display Specific Raw in Data

In [12]:
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    species  = "Bajoran"
    cursor.execute("SELECT * FROM Roster WHERE Species =?", (species,))
    result = cursor.fetchone()
    if result:
        print(result)
    else:
        print("No Matching record found!")

('Kira Nerys', 'Bajoran', 29)

In [ ]:
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    age = 100
    cursor.execute("DELETE FROM Roster WHERE Age > ?", (age,))
    connection.commit()
    print("Records deleted successfully!")

SyntaxError: unterminated string literal (detected at line 6) (2445141048.py, line 6)